server:
  port: 8081

spring:
  application:
    name: banking-platform-service
  datasource:
    url: jdbc:postgresql://localhost:5432/fintech
    username: fintech
    password: fintech
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

eureka:
  client:
    enabled: false
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
